/*========================================
BASE
========================================*/
h1{text-align: center;}
legend{
    font-size: 1.4em;
}

/*========================================
LAYOUT
========================================*/
body{
    padding-bottom: 2rem;
}
main{
    width: 900px;
    margin:auto;
}
fieldset{
    box-sizing: border-box;
}
.flex{display:flex;}
.flex.ecarte{justify-content: space-between;}
.col{width:49%}
.field{margin: 1rem 0}

[type="text"], [type="email"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
/*========================================
MODULE
========================================*/
.civilite .flex div:first-child{
    margin-right: 1rem;
}

div.submit{margin-top: 2rem}
[type="submit"]{
    background:unset;
    color: unset;
    border: unset;
    background: #ddd;
    color: inherit;
    padding: .6rem 2rem;
    cursor: pointer;
    font-weight: bolder;
}

[type="submit"]:hover{
    background: #ccc;
}

.col.right{
    display: flex;
    flex-direction: column;
}
.illustration{
    background-image: url(img/deco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    flex-grow: 1;
    margin-top: 1rem;
    width: 99%;
    align-self: center;
}
/*========================================
CLASSES DIVERSES
========================================*/